Source: go-nmsg-sie
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 debhelper (>= 13~),
 debhelper-compat (= 13),
 dh-golang,
 golang-any,
 golang-github-farsightsec-go-nmsg-dev,
 golang-github-pebbe-zmq4-dev,
 golang-google-protobuf-dev,
 libzmq3-dev,
 pkg-config,
Standards-Version: 4.5.1
Homepage: https://www.farsightsecurity.com
XS-Go-Import-Path: github.com/farsightsec/go-nmsg_sie

Package: golang-github-farsightsec-go-nmsg-sie-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SIE message types for go-nmsg library
 Provides definitions for message types from sie-nmsg for use with the
 go-nmsg library.
